<?xml version="1.0" encoding="UTF-8"?>

<!--Example log4j2 configuration using a Splunk HEC, Raw TCP and UDP Appender -->


<Configuration status="info" name="MySplunkApp" packages="com.tcs.ws.logging.log4j.appender">

	<Appenders>

	    <SplunkHECAppender name="splunkhec" 
	                       token="A7DD8BAC-77B4-444D-A1AE-ABFE79487183" 
	                       host="localhost" 
	                       port="8000" 
	                       https="false" 
	                       poolsize="5" 
	                       index="main" 
	                       source="log4j2" 
	                       sourcetype="test-data" 
	                       maxQueueSize="5MB">
	                       
	        <PatternLayout pattern="%m" /> 
	         
	    </SplunkHECAppender> 

         
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</Console>

	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="stdout" />
		</Root>
		<logger name="splunk.logger" additivity="false" level="INFO">
			<appender-ref ref="splunkhec" />
		</logger>
	</Loggers>

</Configuration>